*.iml
.gradle
/local.properties
/.idea/caches
/.idea/libraries
/.idea/modules.xml
/.idea/workspace.xml
/.idea/navEditor.xml
/.idea/assetWizardSettings.xml
.DS_Store
/build
/captures
.externalNativeBuild
.cxx
local.properties

# 完全忽略.idea目录
.idea/

# 忽略.kotlin目录
.kotlin/

# 忽略assets目录中的大型模型文件
app/src/main/assets/models/